body {
  margin: 0;
}

.content {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.search-book-input {
  padding: 5px 25px 5px 5px;
}

.search-book-btn {
  cursor: pointer;
  padding: 5px 15px;
}

.result {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

.prev-btn, .next-btn {
  cursor: pointer;
  padding: 5px 15px;
}

.pagination {
  margin-top: 20px;
}